.Rproj.user
.Rhistory
.RData
.Ruserdata
BGS_CACHE
testes.R
resumo dos resultados.Rmd
resumo_dos_resultados.html
result_ap3.RData
.~lock.testes.csv#
testecpp.cpp
testes.csv
testes.xlsx
Resumo_dos_resultados (1).pdf
Testes.RData
vol14n1p521_546.pdf
resultados
teste1.R
par_estim threshold[1,0.5]_,1Y.rds
1-s2.0-S2444883418300457-main.pdf
capitulo_de_amostra_Data_Science_do_Zero.pdf
clegg2017.pdf
resultados.rds
resultados_ci.rds
resultados_pci.rds
artigo_discu.aux
artigo_discu.log
artigo_discu.nb.html
artigo_discu_files
artigo_discu.out
artigo_discu.pdf
artigo_discu.synctex.gz
artigo_discu.tex
rodar_tudo.R
Artigos
