.Rproj.user
.Rhistory
.RData
.Ruserdata
BGS_CACHE
testes.R
resumo dos resultados.Rmd
resumo_dos_resultados.html
result_ap3.RData
.~lock.testes.csv#
testecpp.cpp
testes.csv
testes.xlsx
Resumo_dos_resultados (1).pdf
Testes.RData
vol14n1p521_546.pdf
resultados
teste1.R
par_estim threshold[1,0.5]_,1Y.rds
